body {
    /*background: url(IMG_6965.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    color: black;
    text-align: center;
    font-family: 'Lobster Two', cursive;


}

.husky img{

    height: 284px;
    width: 160px;

}