body {
    background: white;
    border: 3px solid #000066;
    color: white;
    text-align: center;
}

img {
    padding: 5px;
    height: 100px;
    width: 75px;
}

#saying {
    background: #272727;
    padding-top: 5px;
    padding-bottom: 5px;
}